# Unignore the "monthly_MM_YYYY" directories themselves
!monthly_??_????/

# Unignore image files within the "monthly_MM_YYYY" directories
!monthly_??_????/*.jpg
!monthly_??_????/*.jpeg
!monthly_??_????/*.png
!monthly_??_????/*.gif
!monthly_??_????/*.svg