html, body {
    background-color: #000000;
    color: #ffffff;
    font-family: Impact, Charcoal, sans-serif;
    height: 100%;
}

#popupText {
      z-index: 100;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font-size: 40px; /* Increased text size */
      font-family: Impact, Charcoal, sans-serif; /* Change font to Impact */
      display: none;
      
      color: #000000;
      
    }

.stats {
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
.timer {
	justify-content: center;
	align-items: center;
	font-size: 36px;
	color: red;
}
.game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Hide overflowing content */
  
}
#car {
  width: 100%;
  height: 70%;
  position: relative;
  transition: transform 0.5s ease-in-out; /* Add transition for smooth movement */
}
.sendit {
    position: absolute;
    z-index: 10000;
    margin-top: 4%;
    margin-left: 45%;
    text-align: center;
}
.controls {
    position: absolute;
    z-index: 10000;
    margin-top: 0%;
    margin-left: 55%;
    text-align: center;
}
.controls-bottom {
    position: absolute;
    z-index: 10000;
    margin-top: 30%;
    margin-left: 55%;
    text-align: center;
}

.front_controls {
    position: absolute;
    z-index: 10000;
    margin-top: 0%;
    margin-left: 25%;
    text-align: center;
}
.front_controls-bottom {
    position: absolute;
    z-index: 10000;
    margin-top: 30%;
    margin-left: 25%;
    text-align: center;
}


.info-bottom {
    position: absolute;
    z-index: 10000;
    margin-top: 40%;
    margin-left: -50%;
    text-align: left;
}
.player-bottom {
    position: absolute;
    z-index: 10000;
    margin-top: 40%;
    margin-left: 50%;
}
.top-hinge {
    top: 31%;
    left: 0;
    z-index: 1001;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    visibility: visible;
    border-radius: 50%;
}
.bottom-hinge {
    bottom: 17%;
    left: 0;
    z-index: 1002;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    visibility: visible;
    border-radius: 50%;
}

#bg, #door, #frontdoor {
  width: 100%;
  height: auto;
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#bg {
  background-image: url('bg.png');
  z-index: 0;
}	   
#door {
  transition: transform .5s, transform-origin .5s;
  background-image: url('rear.png'); 
  z-index: 1; 
}
#frontdoor {
  transition: transform .5s, transform-origin .5s;
  background-image: url('front.png'); 
  z-index: 1; 
}
.top-columns, .bottom-columns {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}
#highScores {
	position: fixed;
	top: 10%;
	left: 0;
	font-size: 12px;
}
.top-columns {
  top: 0;
}
.bottom-columns {
  bottom: 0;
}
.top-columns div, .bottom-columns div {
  flex: 1;
}
.custom-button {
  border: 5px solid black;
  background-color: white;
  color: black;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
}